#mainform {
	height: 700px;
	width: 500px;
	background-color: white;
	margin-left: 1000px;
	margin-top: 200px;
	text-align: center;
	border:10px solid black;
}

#startform {
	height: 700px;
	width: 500px;
	background-color: white;
	margin-left: 1000px;
	margin-top: 200px;
	text-align: center;
	border:10px solid black;
}

.loginform {
	height: 700px;
	width: 500px;
	background-color: white;
	margin-top: 200px;
	text-align: center;
	border:10px solid black;
	
}

#tb1{
	 border:0;
	 bgcolor:gray;
	 font-color:white;
	 width:800px;
}
a {text-decoration: none; color:black;}
h1 { font-size: 80px; }
p {	font-size: 20px;}
body {
	background-image: url("image/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
}